#### Load data _Taiwan Estate Price_ yang disimpan pada file `taiwan_real_estate.csv`

In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('..//..//data//input//taiwan_real_estate.csv')
data.head()

   dist_to_mrt_m  n_convenience house_age_years  price_twd_msq
0       84.87882             10        30 to 45      11.467474
1      306.59470              9        15 to 30      12.768533
2      561.98450              5         0 to 15      14.311649
3      561.98450              5         0 to 15      16.580938
4      390.56840              5         0 to 15      13.040847

#### Konversikan kolom `house_age_years` dari kategorik menjadi numerik dengan `map`

In [3]:
data['house_age_years'] = data['house_age_years'].map({'30 to 45': 3, '15 to 30': 2, '0 to 15': 1})
data.head()

   dist_to_mrt_m  n_convenience  house_age_years  price_twd_msq
0       84.87882             10                3      11.467474
1      306.59470              9                2      12.768533
2      561.98450              5                1      14.311649
3      561.98450              5                1      16.580938
4      390.56840              5                1      13.040847

#### Pisahkan prediktor dan target dari data. Target adalah kolom `price_twd_msq`

In [4]:
X = data.drop('price_twd_msq', axis=1)
y = data['price_twd_msq']

#### Pisahkan data menjadi _training data_ dan _testing data_ dengan ukuran _training data_ sebesar 90%

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#### Lakukan regresi dengan _linear regression_

In [6]:
from sklearn.linear_model import LinearRegression

clf1 = LinearRegression()
clf1.fit(X_train, y_train)

LinearRegression()

#### Lakukan regresi dengan SVM. Gunakan kernel _polynomial_ dengan _degree_ 2

In [7]:
from sklearn.svm import SVR

clf2 = SVR(kernel='poly', degree=2)
clf2.fit(X_train, y_train)

SVR(degree=2, kernel='poly')

#### Lakukan regresi dengan MLP, dengan aktivasi tanh dan 2 _hidden layer_ sebanyak 50 dan 50

In [8]:
from sklearn.neural_network import MLPRegressor

clf3 = MLPRegressor(activation='tanh', hidden_layer_sizes=(50,50,), max_iter=1000)
clf3.fit(X_train, y_train)

MLPRegressor(activation='tanh', hidden_layer_sizes=(50, 50), max_iter=1000)

`max_iter` adalah parameter untuk menentukan jumlah maksimal perulangan dalam _training_

#### Hitung koefisien determinasi (R^2) dari ketiga model di atas

In [9]:
clf1.score(X_test, y_test) #1

0.38461456986766673

In [10]:
clf2.score(X_test, y_test)

0.13276220182083964

In [11]:
clf3.score(X_test, y_test)

-0.00895546074135356

#### Hitung MAE dari ketiga model regresi di atas

In [12]:
from sklearn.metrics import mean_absolute_error

In [13]:
mean_absolute_error(y_test, clf1.predict(X_test)) #1

2.220906309934544

In [14]:
mean_absolute_error(y_test, clf2.predict(X_test))

2.7554421204320914

In [15]:
mean_absolute_error(y_test, clf3.predict(X_test))

3.0347223555964655

#### Hitung MSE dari ketiga model regresi di atas

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
mean_squared_error(y_test, clf1.predict(X_test)) #1

9.904239094045124

In [18]:
mean_squared_error(y_test, clf2.predict(X_test))

13.957643590477264

In [19]:
mean_squared_error(y_test, clf3.predict(X_test))

16.23849969323442

#### Dari ketiga model ini, manakah yang paling baik performanya?

Dalam kasus ini, Algoritma Linear Regression adalah algoritma terbaik dalam memprediksi harga tanah di taiwan karena dinilai paling baik performanya.